<app-header>
  <ion-title title>
    <a href="">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </a>
  </ion-title>
</app-header>

<ion-content>
  <div *ngIf="actualBase">
    <form (submit)="updateBaseName(actualBase)">
      <ion-input
        type="text"
        placeholder="{{ actualBase.name }}"
        [(ngModel)]="actualBase.name"
        name="actualBase.name"
        required
        disabled="{{ !editionMode }}"
      ></ion-input>
      <div class="edit">
        <ion-button *ngIf="!editionMode" (click)="editionMode = true">
          Edit
        </ion-button>
        <ion-button type="submit" *ngIf="editionMode">Confirm</ion-button>
      </div>
    </form>
  </div>

  <div>
    <h2>Position</h2>
    <a [routerLink]="['/map', this.actualBaseId]">Voir sur la carte</a>
  </div>

  <div *ngIf="investments">
    <h2>Investisseurs</h2>
    <div *ngFor="let investment of investments">
      <a [routerLink]="['/profile', investment.investor.id]">
        {{ investment.investor.name }}
      </a>
    </div>
  </div>
</ion-content>
