<app-header>
  <ion-title title> Détail de la base </ion-title>
</app-header>

<ion-content class="ion-padding">
  <div *ngIf="actualBase">
    <form (submit)="updateBaseName(actualBase)">
      <ion-input
        type="text"
        placeholder="{{ actualBase.name }}"
        [(ngModel)]="actualBase.name"
        name="actualBase.name"
        required
        disabled="{{ !editionMode }}"
      ></ion-input>

      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button [routerLink]="['/map', this.actualBaseId]">
            <ion-icon name="navigate-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons *ngIf="actualBase.owner.id === actualUser.id" slot="end">
          <ion-button *ngIf="!editionMode" (click)="editionMode = true">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button type="submit" *ngIf="editionMode">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteBase(user)" type="submit">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </form>
  </div>

  <div>
    <h2>Propriétaire</h2>
    <a *ngIf="baseOwner !== undefined" [routerLink]="['/profile', baseOwner.id]"
      >{{baseOwner.name}}</a
    >
  </div>

  <div>
    <h2>Position</h2>
    <a (click)="this.showOnMap()">Voir sur la carte</a>
  </div>

  <div *ngIf="investments">
    <h2>Investisseurs</h2>
    <div *ngFor="let investment of investments">
      <ion-item [routerLink]="['/profile', investment.investor.id]">
        <ion-label>{{ investment.investor.name }}</ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
