<app-header>
  <ion-title title> Détail de la base </ion-title>
</app-header>

<ion-content>
  <div *ngIf="actualBase">
    <form (submit)="updateBaseName(actualBase)">
      <ion-input
        type="text"
        placeholder="{{ actualBase.name }}"
        [(ngModel)]="actualBase.name"
        name="actualBase.name"
        required
        disabled="{{ !editionMode }}"
      ></ion-input>
      <div *ngIf="actualBase.owner.id === actualUser.id" class="edit">
        <ion-button *ngIf="!editionMode" (click)="editionMode = true">
          Renommer
        </ion-button>
        <ion-button type="submit" *ngIf="editionMode">Confirmer</ion-button>
      </div>
    </form>
  </div>

  <div>
    <h2>Propriétaire</h2>
    <a *ngIf="baseOwner !== undefined" [routerLink]="['/profile', baseOwner.id]"
      >{{baseOwner.name}}</a
    >
  </div>

  <div>
    <h2>Position</h2>
    <a (click)="this.showOnMap()">Voir sur la carte</a>
  </div>

  <div *ngIf="investments">
    <h2>Investisseurs</h2>
    <div *ngFor="let investment of investments">
      <a [routerLink]="['/profile', investment.investor.id]">
        {{ investment.investor.name }}
      </a>
    </div>
  </div>
</ion-content>
