<app-header>
  <ion-title title>Carte</ion-title>
</app-header>

<ion-content>
  <div
    class="map"
    leaflet
    [leafletOptions]="mapOptions"
    [leafletLayers]="markers"
    (leafletMapReady)="onMapReady($event)"
  ></div>

  <ion-spinner
    *ngIf="this.basesMarkers.length <= 0"
    name="lines"
    color="secondary"
  ></ion-spinner>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="centerMap()"
  >
    <ion-fab-button>
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button
      [disabled]="this.basesMarkers.length <= 0"
      (click)="create()"
    >
      <ion-icon
        *ngIf="this.userIsInBase == true"
        name="diamond-outline"
      ></ion-icon>
      <ion-icon
        *ngIf="this.userIsInBase == false"
        name="add-outline"
      ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-alert-controller></ion-alert-controller> -->
  <ion-button expand="block">Show Alert</ion-button>
</ion-content>
