<app-header>
  <ion-title title>Carte</ion-title>
</app-header>

<ion-content>
  <div
    class="map"
    leaflet
    [leafletOptions]="mapOptions"
    [leafletLayers]="markers"
    (leafletMapReady)="onMapReady($event)"
  ></div>

  <!-- Crescent -->

  <ion-spinner
    *ngIf="this.basesMarkers.length <= 0"
    name="lines"
    color="secondary"
  ></ion-spinner>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="centerMap()"
  >
    <ion-fab-button>
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
