<app-header>
  <ion-title title>
    <a href="">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </a>
    Classement
  </ion-title>
</app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of usersToDisplay; let i = index">
      <ion-icon slot="start" icon="happy"></ion-icon>
      <ion-label>#{{i+1}} {{user.name}}</ion-label>
      <ion-label slot="end">
        {{user.money}}
        <ion-icon icon="diamond"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
