<app-header>
  <ion-title title>
    <a href="">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </a>
    Mon profil
  </ion-title>
</app-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <!-- Logout button -->
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="actualUser">
    <form (submit)="updateUserName(actualUser)">
      <ion-input
        type="text"
        placeholder="{{ actualUser.name }}"
        [(ngModel)]="actualUser.name"
        name="actualUser.name"
        required
        disabled="{{ !editionMode }}"
      ></ion-input>
      <div class="edit">
        <ion-button *ngIf="!editionMode" (click)="editionMode = true">
          Edit
        </ion-button>
        <ion-button type="submit" *ngIf="editionMode">Confirm</ion-button>
      </div>
    </form>
  </div>

  <h2>Bases</h2>
  <div *ngFor="let base of bases">
    <a [routerLink]="['/base', base.id]">{{ base.name }}</a>
  </div>
</ion-content>
