<app-header>
  <ion-title title> Mon profil </ion-title>
</app-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <!-- Logout button -->
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="user">
    <form (submit)="updateUserName(user)">
      <ion-input
        type="text"
        placeholder="{{ user.name }}"
        [(ngModel)]="user.name"
        name="user.name"
        required
        disabled="{{ !editionMode }}"
      ></ion-input>
      <div *ngIf="user === actualUser">
        <ion-button *ngIf="!editionMode" (click)="editionMode = true">
          Renommer
        </ion-button>
        <ion-button type="submit" *ngIf="editionMode">Confirmer</ion-button>
      </div>
    </form>

    <form (submit)="deleteUser(user)">
      <div *ngIf="user === actualUser">
        <ion-button type="submit">Supprimer</ion-button>
      </div>
    </form>
  </div>

  <div *ngIf="bases">
    <h2>Bases</h2>
    <div *ngFor="let base of bases">
      <a [routerLink]="['/base', base.id]">{{ base.name }}</a>
    </div>
  </div>
</ion-content>
