<app-header>
  <ion-title title>
    <a href="">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </a>
    Mon profil
  </ion-title>
</app-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <!-- Logout button -->
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="actualUser">
    <h2>User</h2>
    {{ actualUser.name }}
  </div>

  <h2>Bases</h2>
  <div *ngFor="let base of bases">{{ base.name }}</div>
</ion-content>
